<main class="container pt-5">
	<div class="row pt-5">
		<div class="col-sm-3 col-12">
            <nav class="list-group">
              <% Category.all.each do |category| %>
                <%= active_link_to category.title, category_path(category), class: 'list-group-item'%>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      	<% category.subcategories.each do |subcategory| %>
                      	<%= link_to subcategory.title, subcategory, class: "dropdown-item", type: "button", id: subcategory.id %>
                      	<% end %>
      </div>
              <% end %>
          </nav>
          </div>
          <div class="col-sm-9 col-12">
          	<div class="row">
		<% @category.products.each do |product| %>

<div class="col-lg-4 col-md-6 mb-4">
	<div class="card h-100">
		<div class="card-body">
	  <img src="<%= product.image %>" class="card-img-top" alt="...">
	</div>
	  	<div class="card-footer">
	    	<h5 class="card-title"><%= product.title %> </h5>
	    	<p class="card-text text-truncate"><%= product.description %></p>
	    	<p class="badge bg-light text-dark"><%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: " ", format: "%n %u") %></p>
	    	<a href="#" class="btn btn-primary">Buy now</a>
	  	</div>
	</div>
</div>
<% end %>
</div>
</div>
</div>
</main>
<div class="digg_pagination" style="text-align: center;">
    <%= will_paginate @products, :container => false %>
</div>
