      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Project Red</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>


              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
                                  <% if current_user %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
                            <p><%= link_to 'Cart',order_path(current_order),class: 'nav-link'%></p>
              <% else %>
              <%= link_to 'Sign in',new_user_session_path,class: 'nav-link'%>
              <% end %>
            </ul>


            <%= form_tag products_path, method: :get, class: "form-inline my-2 my-lg-0 search_form", id: "search-form" do %>
              <%= text_field_tag(
                  :search,
                  params[:search],
                  placeholder: "Search"
              ) %>
              <%= submit_tag "Search", class: 'btn btn-outline-success' %>
            <% end %>

          </div>
        </div>

      </nav>